<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>YouTubeDownloader</string>
	<key>CFBundleExecutable</key>
	<string>YouTubeDownloader</string>
	<key>CFBundleIconFile</key>
	<string>generated-99ab1bb88fd94566e889631f46d9acf66e2a201a0b6c81c368f63f404cfb2513.icns</string>
	<key>CFBundleIdentifier</key>
	<string>YouTubeDownloader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>YouTubeDownloader</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
